@model Product

<div class="col-lg-4 product-cart">
    <img class="img-thumbnail" src="@Model.Img" alt="@Model.Name" />
    <h2 class="product-title">@Model.Name</h2>
    <p class="lead"> @Model.ShortDesc</p>
    <p class="price">Ціна: @Model.Price.ToString() грн.</p>
    <p class="addtocart"><a class="btn btn-warning" asp-controller="ShopCart" asp-action="AddToCart" asp-route-Id="@Model.Id" >В Корзину</a></p> 
</div>